<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="chen.springboot.blog.domain"></package>
    </typeAliases>
    <mappers>
        <mapper resource="mybatis/mapper/blogpost-mapper.xml"></mapper>
        <mapper resource="mybatis/mapper/comment-mapper.xml"></mapper>
        <mapper resource="mybatis/mapper/user-mapper.xml"></mapper>
    </mappers>
</configuration>